.wrapper {
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-page {
    color: #2c3e50;
}

.home-page h2 {
    font-size: 45px;
}

.home-page h4 {
    font-size: 25px;
}

@media (max-width: 500px;) {
    .wrapper {
        max-width: 100%;
        display: initial;
    }

    .home-page {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}


