body {
  background: url("./img/brilliant.png") repeat;
  background-color: #95a5a6;
}

/* Navbar Section */

.my_navbar {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #2c3e50;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.my_navbar:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-menu {
  opacity: 0;
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
  max-width: 0px;
  transition: 1s ease;
}
.nav-item {
  list-style-type: none;
  padding-left: 18px;
}

.nav-item a {
  text-decoration: none;
  align-content: center;
  transition: color 0.5s ease;
  color: #1abc9c;
  font-weight: bold;
  line-height: 40px;
}

.nav-item a:hover {
  animation: color-change 0.4s;
  color: #f1c40f;
}

.btn {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #1abc9c;
  background-color: #2c3e50;
}

.btn:hover {
  animation: color-change 0.4s ease;
  color: #f1c40f;
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .nav-menu {
  animation: float-in 0.7s ease;
  opacity: 1;
  max-width: 500px;
  padding-right: 5px;
}

@keyframes float-in {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes color-change {
  0% { color: #1abc9c; }
  100% { color: #f1c40f; }
}

/* END NAVBAR */